'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Insert File'
      'submenu': [
        {
          'label': 'Insert File'
          'command': 'insert-file:insert-file'
        }
      ]
    ]
  }
]
